<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
</head>

<body>
  <header class="header">
    <div class="banner">
      <div class="div">
        <p class="fz24 white bold">
          Here’s
        </p>
        <h1 class="fz80 white black">
          JOANNE
        </h1>
        <h3 class="fz24 white bold">
          Founder of “XXXD Official" <br> 
          & Graphic Designer
        </h3>
        <ul>
          <l1><a href="#"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/3a0abccc170925e5a5822aa40314de4d62f59456/week2/behance.svg" alt="Be"></a></l1>
          <l1><a href="#"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/3a0abccc170925e5a5822aa40314de4d62f59456/week2/facebook.svg" alt="FB"></a></l1>
          <l1><a href="#"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/3a0abccc170925e5a5822aa40314de4d62f59456/week2/instagram.svg" alt="INS"></a></l1>
          <l1><a href="#"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/3a0abccc170925e5a5822aa40314de4d62f59456/week2/youtube.svg" alt="YT"></a></l1>
        </ul>
      </div>
    </div>
  </header>

  <%- contents %>

  <footer class="footer">
    <div class="contact">
      <h2 class="fz64 white medium">
        Contact
      </h2>
      <ul class="fz24 white medium">
        <li>
          Mail：xxxd@hexschool.com
        </li>
        <li>
          Phone Number：0910123456
        </li>
      </ul>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
