/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
img {
  vertical-align: middle;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// css reset over
* , *::after, *::before {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
.bold {
  font-weight: 700;
}
.black {
  font-weight: 900;
}
.medium {
  font-weight: 500;
}
.white {
  color: white;
}
.fz24 {
  font-size: 24px;
}
.fz80 {
  font-size: 80px;
}
.fz64 {
  font-size: 64px;
}
.fz20 {
  font-size: 20px;
}
.banner {
  background:url(
      https://github.com/hexschool/2022-web-layout-training/blob/main/week2/banner.png?raw=true
      );
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;    
}
.banner div {
  width: 304px;
}
.banner p {
  line-height: 42px;
}
.banner h1 {
  line-height: 106px;
  margin-bottom: 32px;
}
.banner h3 {
  line-height: 36px;
  margin-bottom: 40px;
}
.banner ul {
  display: flex;
  justify-content: space-around;
}
// header over
.about {
  text-align: center;
  width: 412px;
  margin: 0 auto;
}
.about h2 {
  line-height: 84px;
  padding: 56px 0 40px 0;
}
.about img {
  margin-bottom: 20px;
}
.about ul {
  line-height: 42px;
}
.about .lhDif {
  line-height: 36px;
}
.about .redDiskList {
  border-top: 1px solid #000;
  margin-top: 24px;
  padding-bottom: 56px;
}
.about .redDiskList li {
  padding-top: 28px;
}
.about .redDiskList li::before {
  content: "●  ";
  color: #891818;
}
.brand {
  text-align: center;
  background: #000;
  padding-bottom: 120px;
}
.brand h2 {
  padding-top: 56px;
  line-height: 84px;
}
.brand h3 {
  padding-top: 12px;
  line-height: 42px;
}
.brand p {
  padding-top: 32px;
  line-height: 30px;
  margin-bottom: 68px;
}
.brand div {
  width: 1224px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.brand img {
  margin-bottom: 40px;
  padding: 0 12px;
}
.work {
  text-align: center;
}
.work h2 {
  margin-top: 48px;
}
.work h3 {
  padding: 16px 0 8px 0;
}
.work ul {
  width: 1224px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.work img {
  padding: 48px 12px 16px 12px;
}
.contact {
  text-align: center;
  background: #000;
}
.contact h2 {
  padding-top: 64px;
  line-height: 84px;
}
.contact ul {
  padding-bottom: 64px;
}
.contact ul li {
  line-height: 36px;
  padding-top: 16px;
}